@charset 'utf-8';

html, body, #app {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

// 1. Personal SCSS
@import "./custom.scss";
@import "./scrollbar.scss";

// 2. Import default variables and available mixins.
@import "~uikit/src/scss/variables-theme.scss";
@import "~uikit/src/scss/mixins-theme.scss";
@import "~uikit/src/scss/variables.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";
